<footer>
  <div class="footer-upper">
    <a href="#">Torna su</a>
  </div>
  <div class="footer-mid">
    <div class="sections">
      <div class="section" *ngFor="let section of sections; let i = index">
        <h4>{{ section.name }}</h4>
        <ul>
          <li *ngFor="let item of section.column">
            <a href="#">{{ item.title }}</a>
          </li>
        </ul>
      </div>
    </div>
    <hr />
    <div class="countries">
      <div class="logo">
        <img src="../../../assets/img/logo/logo_white.svg" alt="logo" />
      </div>
      <div class="countriesBox">
        <div class="country" *ngFor="let country of countries">
          <a href="{{ country.path }}">{{ country.country }}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="branches">
      <div class="branches__group">
        <div class="branches__branch" *ngFor="let branch of branches">
          <a href="{{ branch.path }}">
            <h5>{{ branch.title }}</h5>
            <p>{{ branch.description }}</p></a
          >
        </div>
      </div>
    </div>
    <div class="info">
      <div class="info__container">
        <div class="info__link">
          <a href="#">Condizioni generali di uso e vendita</a>
        </div>
        <div class="info__link">
          <a href="#">Informativa sulla privacy</a>
        </div>
        <div class="info__link">
          <a href="#">Area legale</a>
        </div>
        <div class="info__link">
          <a href="#">Cookie</a>
        </div>
        <div class="info__link">
          <a href="#">Pubblicità definita in base agli interessi</a>
        </div>
      </div>
      <div class="info__credits">
        <p>© 1996 - 2022 Amazon.com, Inc. o società affilitate</p>
      </div>
    </div>
  </div>
</footer>
