<div class="tiles">
  <div class="tile">
    <div class="tile__text">
      <h2>Offerta top</h2>
    </div>
    <div class="tile__img img--shrink">
      <img src="../../../assets/img/tiles/4.jpg" alt="" />
    </div>
    <div class="tile__offer"><span>Fino al 52% di sconto</span> Offerta</div>
    <div class="tile__text">
      Rasatura Uomo con Braun, Philips, Panasonic ed altri
    </div>
    <div class="tile__link">
      <a href="#">Vedi termini e condizioni</a>
    </div>
  </div>
  <div class="tile">
    <div class="tile__text">
      <h2>Informatica</h2>
    </div>
    <div class="tile__img">
      <img src="../../../assets/img/tiles/5.jpg" alt="" />
    </div>
    <div class="tile__link">
      <a href="#">Scopri di più</a>
    </div>
  </div>
  <div class="tile">
    <div class="tile__text">
      <h2>
        Dispositivi Amazon a meno di <br />
        60 €
      </h2>
    </div>
    <div class="tile__grid">
      <div class="grid__row">
        <div class="grid__img">
          <img src="../../../assets/img/tiles/6.jpg" alt="" />
          <p>Echo Dot (5<sup>a</sup> Generazione)</p>
        </div>
        <div class="grid__img">
          <img src="../../../assets/img/tiles/7.jpg" alt="" />
          <p>Fire TV Stick</p>
        </div>
      </div>
      <div class="grid__row">
        <div class="grid__img">
          <img src="../../../assets/img/tiles/8.jpg" alt="" />
          <p>Fire 7 Tablet</p>
        </div>
        <div class="grid__img">
          <img src="../../../assets/img/tiles/9.jpg" alt="" />
          <p>Blink Video Doorbell</p>
        </div>
      </div>
    </div>
    <div class="tile__link">
      <a href="#">Scopri di più</a>
    </div>
  </div>
  <div class="tile">
    <div class="tile__text">
      <h2>Preparati per Natale</h2>
    </div>
    <div class="tile__img">
      <img src="../../../assets/img/tiles/10.jpg" alt="" />
    </div>
    <div class="tile__link">
      <a href="#">Scopri il negozio di Natale</a>
    </div>
  </div>
</div>
