<div class="slideshow-container">
  <div class="mySlides fade">
    <img src="../../../assets/img/slider/1.jpg" />
  </div>

  <div class="mySlides fade">
    <img src="../../../assets/img/slider/2.jpg" />
  </div>

  <div class="mySlides fade">
    <img src="../../../assets/img/slider/3.jpg" />
  </div>

  <div class="mySlides fade">
    <img src="../../../assets/img/slider/4.jpg" />
  </div>
  <a class="prev" (click)="plusSlides(-1)">❮</a>
  <a class="next" (click)="plusSlides(1)">❯</a>

  <app-tiles></app-tiles>
</div>
