<div class="slider">
  <div class="slider__title">
    <h3>Offerte sui dispositivi Amazon - Settimana del Black Friday</h3>
    <p><a href="#">Scopri di più</a></p>
  </div>
  <div class="slider__images">
    <div class="slider__box" *ngFor="let detail of details; let i = index">
      <div class="slider__imgContainer">
        <img src="{{ detail.image }}" alt="" />
      </div>
      <div class="slider__offer">
        <p>{{ detail.offer }}% di sconto</p>
        <span>{{ detail.type }}</span>
      </div>
      <div class="slider__price">
        <div class="actualPrice">
          <span class="wholeNumber">{{ wholeNumber[i] }}</span>
          <span class="fraction">{{ fraction[i] }}€</span>
        </div>
        <span class="suggestedText"
          >Consigliato:
          <span class="originalPrice"
            >{{ (detail.price * detail.offer) / 100 + detail.price }}
          </span></span
        >
      </div>
    </div>
  </div>
  <div class="slider__prev">
    <a href=""><</a>
  </div>
  <div class="slider__next">
    <a href="">></a>
  </div>
</div>
