.slider {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  max-width: 1460px;
  padding: 25px;
}

.slider__title {
  display: flex;
  align-items: baseline;
  gap: 10px;
  a {
    text-decoration: none;
    font-size: 0.8rem;
    color: hsl(189, 100%, 26%);
    &:hover {
      text-decoration: underline;
      color: orange;
    }
  }
}

.slider__images {
  display: flex;
  justify-content: flex-start;
  overflow-x: hidden;
  gap: 0 20px;
}

.slider__box {
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
}

.slideNext {
  transform: translateX(-1200px);
}
.slideNext2 {
  transform: translateX(-2400px);
}
.slideNext3 {
  transform: translateX(-3000px);
}

// .slidePrev {
//   transform: translateX(1200px);
// }
// .slidePrev2 {
//   transform: translateX(2400px);
// }
// .slidePrev3 {
//   transform: translateX(3000px);
// }

.slider__offer {
  p {
    display: inline-block;
    border-radius: 2px;
    padding: 6px;
    margin-right: 4px;
    color: white;
    background-color: hsl(347, 100%, 32%);
    font-size: 0.8rem;
  }
  span {
    color: hsl(347, 100%, 32%);
    font-size: 0.7rem;
    font-weight: 600;
  }
}

.slider__imgContainer {
  display: flex;
  align-items: center;
  height: 300px;
  width: 200px;
  max-width: 300px;
  //   width: 100%;
  //   max-width: 150px;
  img {
    width: 100%;
    height: 200px;
    object-fit: contain;
  }
}

.slider__price {
  font-weight: bold;
}

.actualPrice {
  display: flex;
  align-content: flex-start;
  gap: 0.5px;
  color: black;
}

.wholeNumber {
  font-size: 1.2rem;
  font-weight: 500;
}

.fraction {
  font-size: 0.7rem;
  padding-top: 4px;
  font-weight: 400;
}

.suggestedText {
  display: inline-block;
  font-size: 0.8rem;
  overflow: hidden;
  white-space: nowrap;
  max-width: 112px;
  color: rgb(79, 79, 79);
}

.originalPrice {
  text-decoration: line-through;
  font-weight: 500;
}
