<div class="tiles">
  <div class="tile">
    <div class="tile__text">
      <h3>Abbiamo una sorpresa per te</h3>
    </div>
    <div class="tile__img">
      <img src="../../../assets/img/tiles/1.jpg" alt="" />
    </div>
    <div class="tile__link">
      <a href="#">Vedi termini e condizioni</a>
    </div>
  </div>
  <div class="tile">
    <div class="tile__text">
      <h3>I prodotti del momento in Casa e Cucina</h3>
    </div>
    <div class="tile__img">
      <img src="../../../assets/img/tiles/2.jpg" alt="" />
    </div>
    <div class="tile__link">
      <a href="#">Lasciati ispirare</a>
    </div>
  </div>
  <div class="tile">
    <div class="tile__text">
      <h3>Extra sconto del 10% su prodotti resi già scontati</h3>
    </div>
    <div class="tile__img">
      <img src="../../../assets/img/tiles/3.jpg" alt="" />
    </div>
    <div class="tile__link">
      <a href="#">Scopri di più su Amazon Warehouse</a>
    </div>
  </div>
  <div class="tile tile--shrink">
    <div class="tile__text"><h3>Accedi per un'esperienza migliore</h3></div>
    <div class="tile__button">
      <a href="#">Accedi in modo sicuro</a>
    </div>
  </div>
</div>
