<div class="nav">
  <div class="left">
    <div class="left__logo">
      <a href="#"
        ><img src="../../../assets/img/logo/logo_white.svg" alt=""
      /></a>
    </div>
    <div class="left__address">
      <div class="left__icon">
        <i class="bi bi-geo-alt"></i>
      </div>
      <div class="left__text">
        <div class="left__upper">
          <p>Ciao</p>
        </div>
        <div class="left__bottom">
          <p>Scegli il tuo indirizzo</p>
        </div>
      </div>
    </div>
  </div>
  <div class="explore">
    <div class="bar">
      <div class="bar__dropdown">
        <button class="dropdown__btn" id="dropdown__button">
          Tutte le categorie ⯆
        </button>
        <div class="dropdown__content">
          <a href="#">Link</a>
          <a href="#">Link</a>
          <a href="#">Link</a>
          <a href="#">Link</a>
          <a href="#">Link</a>
          <a href="#">Link</a>
          <a href="#">Link</a>
          <a href="#">Link</a>
          <a href="#">Link</a>
          <a href="#">Link</a>
          <a href="#">Link</a>
          <a href="#">Link</a>
          <a href="#">Link</a>
          <a href="#">Link</a>
          <a href="#">Link</a>
          <a href="#">Link</a>
          <a href="#">Link</a>
          <a href="#">Link</a>
          <a href="#">Link</a>
          <a href="#">Link</a>
          <a href="#">Link</a>
          <a href="#">Link</a>
          <a href="#">Link</a>
        </div>
      </div>
      <div class="bar__input">
        <input type="text" (focus)="switchOverlay()" />
      </div>
      <div class="bar__search">
        <i class="bi bi-search"></i>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="right__account">
      <div class="right__text">
        <div class="right__upper">
          <p>Ciao, accedi</p>
        </div>
        <div class="right__bottom">
          <p>Account e liste <span>⯆</span></p>
        </div>
      </div>
    </div>
    <div class="hideAccount">
      <div class="hideAccount__header">
        <button>Accedi</button>
        <p>Nuovo cliente? <a href="#">Inizia qui.</a></p>
      </div>
      <hr />
      <div class="hideAccount__content">
        <div class="hideAccount__column">
          <div class="hideAccount__title">
            <h3>Le tue liste</h3>
          </div>
          <div class="hideAccount__list">
            <ul>
              <li><a href="#">Crea una lista</a></li>
              <li><a href="#">Salva articoli dal web</a></li>
              <li><a href="#">Lista Nozze</a></li>
              <li><a href="#">Lista Nascita</a></li>
              <li><a href="#">Scopri il tuo stile</a></li>
              <li><a href="#">Esplora showroom</a></li>
            </ul>
          </div>
        </div>
        <div class="hideAccount__column column--right">
          <div class="hideAccount__title">
            <h3>Il mio account</h3>
          </div>
          <div class="hideAccount__list">
            <ul>
              <li><a href="#">Il mio account</a></li>
              <li><a href="#">I miei ordini</a></li>
              <li><a href="#">La mia lista desideri</a></li>
              <li><a href="#">Consigliati per te</a></li>
              <li><a href="#">Iscrizioni e abbonamenti</a></li>
              <li><a href="#">Il mio Amazon Prime</a></li>
              <li><a href="#">Il mio Iscriviti e Risparmia</a></li>
              <li><a href="#">Crea un account aziendale gratis</a></li>
              <li><a href="#">I miei contenuti e dispositivi</a></li>
              <li><a href="#">Il mio Prime Video</a></li>
              <li><a href="#">Il mio KIndle Unlimited</a></li>
              <li><a href="#">La mia libreria musicale</a></li>
              <li><a href="#">Il mio Amazon Drive</a></li>
              <li><a href="#">Le mie app e i miei dispositivi</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="right__orders">
      <div class="right__text">
        <div class="right__upper">
          <p>Resi</p>
        </div>
        <div class="right__bottom">
          <p>e ordini</p>
        </div>
      </div>
    </div>
    <div class="right__checkout">
      <div class="right__icon">
        <i class="bi bi-cart2"></i>
      </div>
      <div class="right__text">
        <div class="right__bottom">
          <p>Carrello</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="overlay"
  [ngClass]="{ overlayActive: isOpen }"
  (click)="switchOverlay()"
></div>
