<div class="slideshow__container">
  <div class="slideshow">
    <div class="slideshow__slide">
      <img src="../../../assets/img/slider/1.jpg" alt="" />
    </div>
    <div class="slideshow__slide">
      <img src="../../../assets/img/slider/2.jpg" alt="" />
    </div>
    <div class="slideshow__slide">
      <img src="../../../assets/img/slider/3.jpg" alt="" />
    </div>
    <div class="slideshow__slide">
      <img src="../../../assets/img/slider/4.jpg" alt="" />
    </div>
    <a class="prev">❮</a>
    <a class="next">❯</a>
  </div>
</div>
