$background: hsl(180, 8%, 92%);

* {
  box-sizing: border-box;
}

.image__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 90px;
}

.image__list {
  display: flex;
  max-width: 1500px;
  overflow-x: hidden;
}

.image__list::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, transparent, $background);
}

.image__item {
  min-width: 100%;
  // transform: translateX(-100%);
  transition: transform 0.25s ease-in-out;
  img {
    width: 100%;
    height: 100%;
  }
}

.image__btn__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  min-width: 100%;

  .slider__btn {
    height: 240px;
    width: 80px;
    font-size: 1.5rem;
    background: none;
    border: 2px solid transparent;
    position: relative;
    cursor: pointer;
    &:focus {
      border: 2px solid rgb(21, 147, 197);
      outline: 2px solid white;
      border-radius: 4px;
    }
  }

  .slider__btn--left {
  }

  .slider__btn--left::before {
    content: "❮";
    position: absolute;
    top: 42.5%;
    font-size: 1.5rem;
    left: 4px;
    width: 100%;
    height: 100%;
    color: white;
  }

  .slider__btn--right {
  }

  .slider__btn--right::before {
    content: "❯";
    position: absolute;
    top: 42.5%;
    font-size: 1.5rem;
    right: 4px;
    width: 100%;
    height: 100%;
    color: white;
  }
}

app-tiles {
  position: absolute;
  top: 40%;
  left: 1.2%;
  z-index: 4;
}
