<div class="image__container">
  <div class="image__list">
    <div class="image__item">
      <img src="../../../assets/img/slider/1.jpg" alt="" />
    </div>
    <div class="image__item">
      <img src="../../../assets/img/slider/2.jpg" alt="" />
    </div>
    <div class="image__item">
      <img src="../../../assets/img/slider/3.jpg" alt="" />
    </div>
    <div class="image__item">
      <img src="../../../assets/img/slider/4.jpg" alt="" />
    </div>
    <div class="image__item">
      <img src="../../../assets/img/slider/6.jpg" alt="" />
    </div>
    <div class="image__item">
      <img src="../../../assets/img/slider/5.jpg" alt="" />
    </div>
    <div class="image__item">
      <img src="../../../assets/img/slider/7.jpg" alt="" />
    </div>
  </div>
  <!-- <a class="slideshow__prev">❮</a>
  <a class="slideshow__next">❯</a> -->
  <div class="image__btn__container">
    <button class="slider__btn slider__btn--left" appPrev>❮</button>
    <button class="slider__btn slider__btn--right" appNext>❯</button>
  </div>
  <app-tiles></app-tiles>
</div>
