<div class="categories">
  <div class="category menu">
    <i class="bi bi-list"></i>
    Tutte
  </div>
  <div class="category">Bestseller</div>
  <div class="category">Amazon Basics</div>
  <div class="category">Offerte</div>
  <div class="category">Offerte</div>
  <div class="category">Servizio Clienti</div>
  <div class="category">Novità</div>
  <div class="category">Musica</div>
  <div class="category">Prime</div>
  <div class="category">eBook in italiano</div>
  <div class="category">Libri</div>
  <div class="category">Elettronica</div>
  <div class="category">Informatica</div>
  <div class="category">Videogiochi</div>
  <div class="category">Casa e cucina</div>
  <div class="category">Moda</div>
  <div class="category">Idee regalo</div>
  <div class="category">Auto e moto</div>
  <div class="category">Giochi e giocattoli</div>
</div>
