<div class="categories">
  <div class="category menu">
    <button class="category__btn" (click)="toggleSidebar()">
      <i class="bi bi-list"></i>
      <div class="tutte"><b>Tutte</b></div>
    </button>
  </div>
  <div class="category">Bestseller</div>
  <div class="category">Amazon Basics</div>
  <div class="category">Offerte</div>

  <div class="category">Servizio Clienti</div>
  <div class="category">Novità</div>
  <div class="category">Musica</div>
  <div class="category">Prime</div>
  <div class="category">eBook in italiano</div>
  <div class="category">Libri</div>
  <div class="category">Elettronica</div>
  <div class="category">Informatica</div>
  <div class="category">Videogiochi</div>
  <div class="category">Casa e cucina</div>
  <div class="category">Moda</div>
  <div class="category">Idee regalo</div>
  <div class="category">Auto e moto</div>
  <div class="category">Giochi e giocattoli</div>
</div>

<!-- *** SIDEBAR *** -->
<div
  class="closeMenu"
  [ngClass]="{ buttonActive: isOpen }"
  (click)="toggleSidebar()"
>
  <button class="closeMenu__btn">
    <i class="bi bi-x"></i>
  </button>
</div>
<div class="sidebar" [ngClass]="{ sidebarActive: isOpen }">
  <div class="sidebar__header">
    <i class="bi bi-person-circle"></i>
    <h3>Ciao, accedi</h3>
  </div>
  <div class="sidebar__category">
    <div class="sidebar__title">
      <h3>Di Tendenza</h3>
    </div>
    <div class="sidebar__section">
      <a href="#">Bestseller</a>
    </div>
    <div class="sidebar__section">
      <a href="#">Novità</a>
    </div>
    <div class="sidebar__section">
      <a href="#">I prodotti del momento</a>
    </div>
  </div>
  <hr />
  <div class="sidebar__category">
    <div class="sidebar__title">
      <h3>Dispositivi E Contenuti Digitali</h3>
    </div>
    <div class="sidebar__section">
      <a href="#">Amazon Prime Video</a>
    </div>
    <div class="sidebar__section">
      <a href="#">Amazon Music</a>
    </div>
    <div class="sidebar__section">
      <a href="#">Amazon Photo</a>
    </div>
    <div class="sidebar__section">
      <a href="#">Echo e Alexa</a>
    </div>
  </div>
  <hr />
  <div class="sidebar__category">
    <div class="sidebar__title">
      <h3>Scegli Per Categoria</h3>
    </div>
    <div class="sidebar__section">
      <a href="#">Libri</a>
    </div>
    <div class="sidebar__section">
      <a href="#">Musica, Film e TV</a>
    </div>
    <div class="sidebar__section">
      <a href="#">Videogiochi e Console</a>
    </div>
    <div class="sidebar__section">
      <a href="#">Elettronica e Informatica</a>
    </div>
    <div class="sidebar__section">
      <a href="#">Casa, Giardino, Fai da te e Animali</a>
    </div>
    <div class="sidebar__section">
      <a href="#">Alimentari e Cura della casa</a>
    </div>
    <div class="sidebar__section">
      <a href="#">Bellezza e Salute</a>
    </div>
    <div class="sidebar__section">
      <a href="#">Giochi e Prima Infanzia</a>
    </div>
    <div class="sidebar__section">
      <a href="#">Vestiti, scarpe, gioielli e accessori</a>
    </div>
    <div class="sidebar__section">
      <a href="#">Sport e tempo libero</a>
    </div>
    <div class="sidebar__section">
      <a href="#">Mostra Tutto ⯆</a>
    </div>
  </div>
  <hr />
  <div class="sidebar__category">
    <div class="sidebar__title">
      <h3>Programmi E Caratteristiche</h3>
    </div>
    <div class="sidebar__section">
      <a href="#">Made in Italy</a>
    </div>
    <div class="sidebar__section">
      <a href="#">Handmade</a>
    </div>
    <div class="sidebar__section">
      <a href="#">Luxury Store</a>
    </div>
    <div class="sidebar__section">
      <a href="#">Personalizzato da Amazon</a>
    </div>
  </div>
  <hr />
  <div class="sidebar__category">
    <div class="sidebar__title">
      <h3>Aiuto E Impostazioni</h3>
    </div>
    <div class="sidebar__section">
      <a href="#">Il mio account</a>
    </div>
    <div class="sidebar__section">
      <a href="#">Servizio clienti</a>
    </div>
    <div class="sidebar__section">
      <a href="#">Accedi</a>
    </div>
    <div class="sidebar__section">
      <a href="#"></a>
    </div>
  </div>
</div>

<div
  class="overlay"
  [ngClass]="{ overlayActive: isOpen }"
  (click)="toggleSidebar()"
></div>
