$nav--smallText: 0.8rem;
$categories--color: hsl(214 27% 20%);

.categories {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  background-color: $categories--color;
  color: white;
  font-size: $nav--smallText;
}

.menu {
  font-weight: bolder;
  i {
    font-size: 1.4rem;
  }
}

.category {
  padding: 5px 10px;
  border: 1px solid transparent;
  &:hover {
    border: 1px solid white;
  }
}

.category__btn {
  background-color: $categories--color;
  color: white;
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
  border: none;
  i {
    font-size: 1.3rem;
  }
}

/* *** SIDEBAR *** */

.closeMenu {
}

.closeMenu__btn {
  background-color: transparent;
  color: white;
  font-size: 2.5rem;
  position: absolute;
  left: 0px;
  cursor: pointer;
}

.sidebar {
  height: 90vh;
  width: 400px;
  background-color: white;
  position: fixed;
  z-index: 10;
  overflow-y: scroll;
  transform: translateX(-400px);
  transition: transform 0.3s ease-in-out;
}

.sidebarActive {
  transform: translateX(0);
}

.buttonActive {
  transform: translateX(440px);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.sidebar hr {
  border: none;
  height: 1px;
  color: lightgray;
  background-color: lightgray;
  margin: 10px 0;
}

.sidebar__header {
  height: 50px;
  background: $categories--color;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  padding: 0 20px;
  i {
    font-size: 1.5rem;
  }
}

.sidebar__title {
  padding: 10px 30px;
}

.sidebar__section {
  a {
    font-size: 0.85rem;
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 100%;
    padding: 10px 30px;
  }
  &:hover {
    background-color: lightgray;
  }
}
